{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": [ "eslint:recommended" ],
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module"
    }
}
